
#Copyright (c) 2020 Derek Schmell
#SPDX-License-Identifier: MIT
 
 
if SHIELD_DECOPAD_LEFT

config ZMK_KEYBOARD_NAME
	default "Decopad Left"

endif

if SHIELD_DECOPAD_RIGHT

config ZMK_KEYBOARD_NAME
	default "Decopad Right"

endif

if SHIELD_DECOPAD_LEFT || SHIELD_DECOPAD_RIGHT

endif
