
#Copyright (c) 2020 Derek Schmell
#SPDX-License-Identifier: MIT
 
 
if SHIELD_SP64_LEFT

config ZMK_KEYBOARD_NAME
	default "SP64 Left"

config ZMK_SPLIT_BLE_ROLE_CENTRAL
	default y

endif

if SHIELD_SP64_RIGHT

config ZMK_KEYBOARD_NAME
	default "SP64 Right"

endif

if SHIELD_SP64_LEFT || SHIELD_SP64_RIGHT

config ZMK_SPLIT
	default y

endif
