
#Copyright (c) 2020 Derek Schmell
#SPDX-License-Identifier: MIT
 
 
if SHIELD_CREAM_LEFT

config ZMK_KEYBOARD_NAME
	default "Cream Left"

endif

if SHIELD_CREAM_RIGHT

config ZMK_KEYBOARD_NAME
	default "Cream Right"

config ZMK_SPLIT_BLE_ROLE_CENTRAL
	default y

endif

if SHIELD_CREAM_LEFT || SHIELD_CREAM_RIGHT

config ZMK_SPLIT
	default y

endif
