# Copyright (c) 2020 Derek Schmell
# SPDX-License-Identifier: MIT

config SHIELD_TETONS_LEFT
	def_bool $(shields_list_contains,tetons_left)

config SHIELD_TETONS_RIGHT
	def_bool $(shields_list_contains,tetons_right)
