# Copyright (c) 2020 Derek Schmell
# SPDX-License-Identifier: MIT

config SHIELD_COPPER_LEFT
	def_bool $(shields_list_contains,copper_left)

config SHIELD_COPPER_RIGHT
	def_bool $(shields_list_contains,copper_right)
