
#Copyright (c) 2020 Derek Schmell
#SPDX-License-Identifier: MIT
 
 
if SHIELD_EXECUTIVE_SLIMLINE_LEFT

config ZMK_KEYBOARD_NAME
	default "Executive Slimline"

config ZMK_SPLIT_BLE_ROLE_CENTRAL
	default y

endif

if SHIELD_EXECUTIVE_SLIMLINE_RIGHT

config ZMK_KEYBOARD_NAME
	default "Executive Slimline Right"

endif

if SHIELD_EXECUTIVE_SLIMLINE_LEFT || SHIELD_EXECUTIVE_SLIMLINE_RIGHT

config ZMK_SPLIT
	default y

endif
